*{
  text-align: center;
  margin-right: 50px;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.navbar-menu p {
  margin: 0 2rem;
  color: white;
  letter-spacing: .2rem;
  font-weight: 700;
}

.navbar-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 0;
}

.navbar-menu ul li{
  padding: 1.5rem;
  font-weight: 400;
  font-size: .9rem;
}

.navbar-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 500px){

  .list {
      flex-direction: column;
      height: auto;
  }
  .items:nth-child(1){
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      margin-top: 50px;
  }
  .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
  }
  .btn {
      display: block;
  }

}
